body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
/* header section */
.header-section {
    background: url(../image/newImage2.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
.navbrand {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.navbrand span {
    color: red;
}
.navbrand .toggler {
    display: none;
    cursor: pointer;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.nav-text{
    margin-right: 30px;
}
.nav-text-link{
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    margin: 0px;
    margin-right: 20px;
    list-style-type: none;
    justify-items: center;
    height: auto;
}
.nav-item {
    font-size: 18px;
    transition: 0.5s;
    text-align: center;
    position: relative;
    top: 5px;
}
ul li.nav-link{
    transition: 1s ease-in-out;
}
ul li .nav-link::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: white;
    position: absolute;
    top: 25px;
    left: 0;
    transition: 1s ease-in-out;
}
ul li .nav-link:hover {
    color: red;
}
ul li .nav-link:hover::after {
    width: 100%;
    color: red;
}
.nav-text .show-links {
    height: 12rem;
}
.header-section .container{
    position: absolute;
    left: 30%;
}
/* header section text */
.home-text{
    width: 100%;
    text-align: center;
    color: #fff;
}
.home-text h1{
    font-size: 70px;
    margin-top: 170px;
    margin-bottom: 0px;
}
.home-text h1:hover{
    color: #f04;
}
.home-text p {
    margin: 20px 0px;
    line-height: 25px;
}
.home-text h2 {
    margin: 0px;
}
/* header section button */
.home-btn {
    text-align: center;
}
.home-btn .btn {
    width: 200px;
    padding: 15px 0px;
    margin: 20px 10px;
    color: #fff;
    background-color: transparent;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid red;
    position: relative;
    transition: 0.6s;
    overflow: hidden;
}
.home-btn .btn::after {
    content: '';
    background-color: white;
    color: red;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    z-index: -1;
    transition: 1s;
}
.home-btn .btn:hover::after {
    border-radius: 30px;
    width: 100%;
}
.home-btn .btn:hover {
    color: red;
    position: relative;
    z-index: 2;
}
/* about section  */
.section-about {
    background: url(../image/developers.jpg);
    background-size: 70%;
    background-position: left;
    background-repeat: no-repeat;
    background-color: #888;
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 0; 
}
.section-about .content {
    background-color: white;
    padding: 100px;
    width: 30%;
    height: 90vh;
    float: right;
}
.section-about .content .img{
    display: none;
}
.section-about .content p{
    line-height: 2.5;
}
.section-about .content .about{
    display: flex;
    gap: 30px;
}
/* service section */
.section-services {
    background: url(../image/cloudPic.jpg) fixed;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}
.section-services .innerSection {
    margin: auto;
    padding: 0 20px;
    color: #fff;
}
.section-services .innerSection h1{
    text-align: center;
    font-size: 30px;
}
.section-services .innerSection hr {
    text-align: center;
    width: 150px;
    border-bottom: 0px;
    height: 2px;
    background-color: red;
    border-style: none;
    margin: 30px auto;
}
.section-services .innerSection .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section-services .innerSection .container .wrapper {
    width: 30%;
    padding: 10px;
    text-align: center;
}
.section-services .innerSection .container .wrapper h2 {
    font-size: 18px;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: normal;
}
.section-services .innerSection .container .wrapper p {
    font-size: 15px;
    margin: 15px 0;
}
.section-services .innerSection .container .wrapper .icon {
    width: 70px;
    height: 70px;
    border: 3px solid red;
    display: inline-block;
    margin: 15px 0 30px;
    color: #fff;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}
.section-services .innerSection .container .wrapper .icon i {
    transform: rotate(-45deg);
    font-size: 26px;
    line-height: 70px;
}
.section-services .innerSection .container .wrapper .icon:hover {
    background-color: white;
    color: red;
}
/* contact section*/
.contact{
    width: 100%;
    height: 100vh;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .container{
    margin: auto;
    background-color: white;
    width: 85%;
    background: white;
    padding: 20px 60px 30px 40px;
    border-radius: 15px;
    box-shadow: 5px 10px 20px #f008;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact .container .left{
    width: 25%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact .container .left h4{
    margin: 0;
    text-align: center;
}
.contact .container .left .details{
    margin: 14px;
    text-align: left;
}
.contact .container .left p{
    margin: 0;
    text-align: left;
}
.contact .container .left address{
    font-style: normal;
}
.contact .container .left::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 70%;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    background: #000;
}
.contact .container .right{
    width: 75%;
    margin-left: 75px;
}
.contact .container .right h2{
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.contact .container .right p{
    font-size: 15px;
    margin-top: 0;
}
.contact .container .right input{
    width: 100%;
    height: 50px;
    margin: 12px 0;
    border: none;
    font-size: 16px;
    background: #f002;
    border-radius: 10px;
    padding: 0 16px;
    resize: none;
}
input:focus-visible{
    outline: none;
}
textarea:focus-visible{
    outline: none;
}
.contact .container .right textarea{
    width: 100%;
    min-height: 50px;
    margin: 12px 0;
    border: none;
    font-size: 16px;
    background: #f002;
    border-radius: 10px;
    padding: 0 16px;
    resize: none;
    color: #8B7575;
    text-align: left;
}
.contact .container .right button{
    background: red;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
/* login popup section */
.loginsection {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000a;
    width: 100%;
    height: 100vh;
    display: none;
    place-items: center;
}
.loginsection:target {
    display: grid;
}
.login {
    width: 30%;
    padding: 100px 50px;
    background: linear-gradient(40deg, pink, red);
    border-radius: 30px;
    display: grid;
    transition: all 2s ease-in-out;
}
.login input {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    margin: 10px 0;
    border-radius: 20px;
    padding: 5px 10px
}
.login button {
    padding: 10px 20px;
    margin: auto;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
@media (max-width:905px){
    .header-section .container{
        position: absolute;
        left: 20%;
    }
    .section-about {
        background: none;
        display: block;
        position: relative;
        padding: 20px 0; 
        height: 100vh;
        background-color: #888;
    }
    .section-about .content {
        background-color: transparent;
        padding: 0;
        width: 100%;
    }
    .section-about .content .img{
        display: block;
        width: 80%;
        margin: auto;
    }
    .section-about .content .img img{
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
    .section-about .content p{
        line-height: 1.5;
    }
    .section-about .content .text-wrapper{
        text-align: center;
    }
    .section-about .content .text-wrapper .about{
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:760px){
    .navbar {
        display: block;
        padding-top: 1rem;
    }
    .navbrand{
        display: flex;
        justify-content: space-between;
    }
    .navbrand .toggler {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 80px;
    }
    .nav-text-link{
        height: 0;
        display: block;
        overflow: hidden;
        width: 15%;
    }
    .nav-item {
        padding: 0.3rem 0;
    }
    .header-section .container{
        position: absolute;
        left: 10%;
    }
}
@media (max-width:605px){
    .header-section .container{
        position: absolute;
        left: 5%;
    }
    .home-text h1{
        font-size: 65px;
    }
    .home-btn .btn {
        width: 150px;
        /* padding: 15px 0px; */
        margin: 0 10px;
    }
    .contact .container{
        margin: auto;
        width: 90%;
        background: white;
        padding: 20px 60px 30px 40px;
    }
    .contact .container .left::after{
        content: '';
        position: absolute; 
        top: 50%;
        right: -40px;
    }
}